
.centrado_h1{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.centrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-container{
    height: 600px;
    width: 500px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mi-elemento {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
